/build/
/test/Data/
/*.vcxproj
/*.vcxproj.*
/CMakeCache.txt
/*.sln
/cmake_install.cmake
/config.h
/CMakeFiles/
/*.sdf
/*.suo
/Debug/
/ipch/
/smuglcom.dir/
/smuglcommon.dir/
/smugl.dir/
/testbed.dir/
/verify.dir/
/Win32/
/*.opensdf
/revision.h
