---
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ReflowComments: true
SpaceBeforeAssignmentOperators: true
PointerAlignment: Right
IndentCaseLabels: false
AlwaysBreakTemplateDeclarations: true
AlignAfterOpenBracket: AlwaysBreak
AlwaysBreakAfterReturnType: TopLevelDefinitions
FixNamespaceComments: true
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SpacesBeforeTrailingComments: 2
BreakBeforeInheritanceComma: true
BreakInheritanceList: BeforeComma
BreakConstructorInitializers: BeforeComma
CompactNamespaces: true
ContinuationIndentWidth: 8
ConstructorInitializerIndentWidth: 4
IndentPPDirectives: AfterHash
KeepEmptyLinesAtTheStartOfBlocks: false
ColumnLimit: 100
AlignConsecutiveDeclarations: true
...
#AllowShortBlocksOnASingleLine: true
#AllowShortFunctionsOnASingleLine: true
#AllowShortCaseLabelsOnASingleLine: true
#AlignConsecutiveAssignments: false
#AlwaysBreakBeforeMultilineStrings: true


#AllowAllParametersOfDeclarationOnNextLine: false
#ConstructorInitializerAllOnOneLineOrOnePerLine: true
#DerivePointerAlignment: false
#NamespaceIndentation: Inner
#PenaltyReturnTypeOnItsOwnLine: 0
#Cpp11BracedListStyle: false
