---
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ReflowComments: true
SpaceBeforeAssignmentOperators: true
PointerAlignment: Right
IndentCaseLabels: false
AlwaysBreakTemplateDeclarations: true
AlignAfterOpenBracket: AlwaysBreak
AlwaysBreakAfterReturnType: TopLevelDefinitions
FixNamespaceComments: true
AlignConsecutiveDeclarations: true
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: true
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: true
SpacesBeforeTrailingComments: 2
BreakBeforeInheritanceComma: true
AllowShortCaseLabelsOnASingleLine: true
BreakInheritanceList: BeforeComma
BreakConstructorInitializers: BeforeComma
CompactNamespaces: true
ContinuationIndentWidth: 8
ConstructorInitializerIndentWidth: 4
IndentPPDirectives: AfterHash
KeepEmptyLinesAtTheStartOfBlocks: false
AlignConsecutiveAssignments: false
AlwaysBreakBeforeMultilineStrings: true
ColumnLimit: 100
...
#AllowAllParametersOfDeclarationOnNextLine: false
#ConstructorInitializerAllOnOneLineOrOnePerLine: true
#DerivePointerAlignment: false
#NamespaceIndentation: Inner
#PenaltyReturnTypeOnItsOwnLine: 0
#Cpp11BracedListStyle: false
