# Some files in etc are linux-orinted and need to be LF not CRLF
.gitattributes text eol=lf
* text eol=lf
*.c text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.txt text eol=lf
*.Txt text eol=lf
*.text text eol=lf
*.Text text eol=lf
*.hpp text eol=lf
*.bat text eol=crlf
*.ps1 text eol=crlf

