.idea/
.vs
.vscode
cmake-build-*
build
out
**/*.o
**/*.a
**/*.lib
**/*.amulc
**/*.amulo
**/*.swp
**/*.swo
**/*~
CMakeCache.txt
CMakeFiles
CMakeSettings.json
Makefile
build.ninja
cmake_install.cmake
rules.ninja
**/TAGS

**/Makefile.dep
**/m4
**/aclocal.m4
**/autom4te.cache
**/config.guess
**/config.log
**/config.status
**/config.sub
**/stamp-h1
**/install-sh
**/libtool
**/ltmain.sh
**/missing
**/Data
**/compile

archive/**/INSTALL
archive/**/configure
archive/**/config.h
archive/smugl*/Makefile.in
archive/smugl*/smugl/smugl
archive/smugl*/smuglcom/smuglcom
archive/smugl*/smuglcom/verify
